.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // gap: 0.6rem;
    gap:calc(0.5vw);
    grid-auto-rows:calc(27vh);
    grid-template-areas:
        ". a a ."
        ". a a .";



    .item1 {
        grid-area: a;
        align-self: center;
        justify-self: center;
        font-size: calc(1.5vw);
        text-align: center;
        margin-top: calc(24vh);
        background-color: rgba(255, 255, 255,0.6);
        padding: 2vh 1vw;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    }

    .item1 img{
            height: calc(25vh);
    }

    

    .dash-icons{
        vertical-align: middle;
        margin-right: calc(0.5vw);
        font-size: calc(1.5vw);
    }

}