.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // gap: 0.6rem;
    gap:calc(0.5vw);
    grid-auto-rows:calc(27vh);
    grid-template-areas:
        ". a a ."
        ". a a .";



    .item1 {
        grid-area: a;
        align-self: center;
        justify-self: center;
        font-size: calc(1.5vw);
        text-align: center;
        margin-top: calc(24vh);
    }

    .item1 img{
            height: calc(25vh);
    }

    

    .dash-icons{
        vertical-align: middle;
        margin-right: calc(0.5vw);
        font-size: calc(1.5vw);
    }

}